@import 'tailwindcss';

:root {
    --base-color1: #3535ff;
    --base-text1: #1e2939;
}

@theme inline {
    --color-color1-50: hsl(from var(--base-color1) h s calc(l - 5));
    --color-color1-100: var(--base-color1);
    --color-color1-200: hsl(from var(--base-color1) h s calc(l + 5));

    --color-text-color: var(--base-text1);
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .wrapper {
        min-height: 100vh;
        background-image: linear-gradient(to bottom right, #eaeef1, #dde5ec);
    }
}

@layer components {
    .primary-btn {
        cursor: pointer;
        background-color: var(--base-color1);
        border: 2px solid var(--color-color1-200);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font: 600 1.2rem Arial;
        color: #eaeef1;
        transition: all 100ms;
    }

    .secundary-btn {
        cursor: pointer;
        border: 3px solid var(--base-color1);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font: 600 1.2rem Arial;
        color: var(--base-color1);
        transition: all 100ms;
    }

    :is(.primary-btn, .secundary-btn):not(:disabled):hover {
        transform: scale(1.05);
    }
}

@utility fade-in-animation {
    animation: fade-in 100ms ease forwards;
}

@utility fade-out-animation {
    animation: fade-out 100ms ease forwards;
}

@utility animate-progress {
    animation: animate-progress 15s linear forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes animate-progress {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}
